<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.admin.AdminGoodsDao">

	<!-- 查询商品 -->
	<select id="selectGoods"  resultType="Goods">
		select * from goods
	</select>
	
	<!-- 分页查询商品 -->
	<select id="selectAllGoodsByPage"  resultType="Goods" parameterType="map">
		select * from goods order by create_time limit #{pageNo}, #{pageSize}
	</select>
	
	
	<!-- 添加商品 -->
	<insert id="addGoods" parameterType="Goods">
		insert into goods (id,name,description,type_code,img,inventory,price,sell_num,popularity_num,create_time,update_time) 
		values (#{id}, #{name}, #{description}, #{typeCode}, #{img}, #{inventory}, #{price}, #{sellNum}, #{popularityNum}, now(), now())
	</insert>
	
	<!-- 根据id查询一个商品 -->
	<select id="selectGoodsById"  resultType="Goods" parameterType="String">
		select g.id id,g.name name,g.description description,g.img img,g.inventory inventory,
		g.price price,t.name typeName ,g.sell_num sellNum,g.popularity_num popularityNum,
		g.create_time createTime,g.update_time updateTime
		from goods g left join type t on g.type_code=t.code where g.id = #{goodsId} 
	</select>
	
	<!-- 删除多个商品 -->
	<delete id="deleteGoods"  parameterType="List">
		delete from goods where id in
		<foreach item="item" index="index" collection="list"
			open="(" separator="," close=")">
				#{item}
		</foreach>
	</delete>
	
	<!-- 删除单个商品 -->
	<delete id="deleteGoodsOne" parameterType="String">
		delete from goods where id=#{id}
	</delete>
	
	<!-- 修改一个商品 -->
	<update id="updateGoodsById" parameterType="Goods">
    	update goods
	    <set>
	      <if test="name != null">
	        name = #{name},
	      </if>
	      <if test="description != null">
	        description = #{description},
	      </if>
	      <if test="typeCode != null">
	        type_code = #{typeCode},
	      </if>
	      <if test="img != null">
	        img = #{img},
	      </if>
	      <if test="inventory != null">
	        inventory = #{inventory},
	      </if>
	      <if test="price != null">
	        price = #{price},
	      </if>
	      	update_time = now()
	    </set>
	    	where id = #{id}
  </update>
  
  <!-- 查询关联商品 -->
  <select id="selectCartGoods" parameterType="String" resultType="map">
  	select * from `order` where goods_id=#{id} and state = 0
  </select>
  
  <select id="selectFocusGoods" parameterType="String" resultType="map">
  	select * from focus where goods_id=#{id}
  </select>
  
  <select id="selectOrderdetailGoods" parameterType="String" resultType="map">
  	select * from `order` where goods_id=#{id} and state = 1
  </select>
  
</mapper>