.big{
	width:100%;
	text-align:center;
}

/*页面的最上边蓝色部分*/
.header{
	width:100%;
	height:120px;
	color:#fff;
	background-color:#62AAFF;
	line-height:160px;
}
.ll{
	width:65px;
	margin-top:40px;
	padding-left:30px;
}
.ll2{
	margin-top:74px;
	width: 40px;
}
.Logo{
	width:1470px;
	text-align:left;
	font-size:44px;
}
.Logo,.us,.ex,.line,.ll,.ll2{
	float:left;
	height:46px;
}
.us{
	/*width:1050px;*/
	text-align:right;
	margin-top:18px;
}

/*蓝色部分下面的白条*/
.line{
	width:100%;
	height:30px;
	background-color:#FAF5F1;
	border-bottom: 2px solid #343E4A;
}
.welcome{
	position:absolute;
	color:#000;
	top: 62px;
    left: 235px;
}
/*左侧导航*/
.left{
	float:left;
	height:700px;
	background-color:#343E4A;
	
}
.manager_goods,.manager_gType,.manager_user,.manager_order,.manager_notice{
	color:#fff;
	width:300px;
	height:40px;
	font-size:20px;
	letter-spacing:2px;
	padding-top:40px;
}
a,a:link{
	text-decoration:none;
	color:#fff;
}
/*右侧内容*/
.content{
	float: left;
    width: 1578px;
    height: 698px;
    margin-left: 5px;
    border-bottom: 2px solid #343E4A;
}
.iframe{
	width:100%;
	height:700px;
}